body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 100px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  border-width: 1px solid black;
  text-align: center;
}

.content {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.sketch-box {
  width: 500px;
  height: 500px;
  border: 3px solid rgb(189, 189, 189);
  display: flex;
  flex-wrap: wrap;
}

.grid-square {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.border {
  border: 1px solid rgb(189, 189, 189);
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 80px 20px;
  background-color: rgb(245, 245, 255);
  border-radius: 12px;
}

input {
  height: 36px;
  padding: 0px;
  text-align: center;
  border-radius: 12px;
  box-sizing: border-box;
}

button {
  height: 36px;
  background-color: rgb(204, 204, 204);
  color: rgb(36, 36, 36);
  border: 1px solid rgb(36, 36, 36);
  border-radius: 12px;
  cursor: pointer;
}

button:hover,
button.pressed {
  background-color: rgb(163, 163, 163);
}

.r-letter {
  color: red;
}

.g-letter {
  color: green;
}

.b-letter {
  color: blue;
}
